[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
gunicorn = "*"
beautifulsoup4 = "*"
python-decouple = "*"
whitenoise = "*"

[requires]
python_version = "3.7"
