.premium-form-input {
  border: 1px solid lightgray;
  border-radius: 3px;
  padding: 9px 9px;
  background-color: white;
  text-align: center;
}

.premium-form-card-element {
  width: 160px;
}

.premium-form-expiry-element {
  width: 80px;
}

.premium-form-input-container {
  display: flex;
}

.premium-form {
  display: flex;
  flex-direction: column;
}